<div class="center hero-unit">
  <h1>
   Welcome to Domi
  </h1>
  <h2>
  	College housing - the agony = Domi
  </h2>
  	<p>
  		<%= link_to "Log in", sign_in_path, class: "btn btn-default btn-large" %>
      <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-large" %>
  	</p>
</div>
