<h1>Help</h1>
	<p>
		Get in touch with us if you have any questions are suggestions.
		My contact is <a href="mailto:madeleke13@gmail.com">here</a>
		We want to make Domi as easy to use as possbile so drop a 
		line or say "Hello" on <a href="#">Twiiter</a>
	</p>