<footer class="footer">
  <small>
    <a href="http://domiapp.tumblr.com/">Domi</a>
    made with love <span class="glyphicon glyphicon-heart"></span>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="http://domiapp.tumblr.com/">Blog</a></li>
    </ul>
  </nav>
</footer>